<!DOCTYPE html>
<html>
<title>edit_menu</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" type="text/css" href="layout.css">

<body style="max-width:400px;margin:16px;border:1px solid #ccc">

    <header class="w3-container w3-card-4 w3-theme">
        <h1>메뉴 편집</h1>
    </header>
    <div>
        <h3>ADD MENU</h3>
        <form method="post">
            <fieldset>
                <input type="text" name="menu" size="7" placeholder="Pizza" style="text-align: center;">
                <input type="text" name="price" size="7" placeholder="1000" style="text-align: center;">
                <input type="submit" class="w3-button w3-black w3-border" value="ADD"></br>
            </fieldset>
        </form>

        <table class="w3-table w3-striped w3-border">
            <thead>
                <tr>
                    <th>DELETE</th>
                    <th>MENU</th>
                    <th>PRICE</th>
                </tr>
            </thead>
            <tbody>
                <% for(i = 0; i < ITEM.length; i++) { %>
                <tr>
                    <td><a href="/delete/<%= ITEM[i].name%>">DEL</a></td>
                    <td><%=ITEM[i].name%></td>
                    <td><%=ITEM[i].price%></td>
                </tr>
                <% } %>
            </tbody>
        </table>

        <div id="menu_price">

        </div>

    </div>
    <button class="w3-button w3-black w3-border" onClick="location.href='manager_menu'"">BACK</button>
</body>

</html>