<!DOCTYPE html>
<html>
<title>first</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">

<body style="max-width:400px;margin:16px;border:1px solid #ccc">
    <header class="w3-container w3-card-4 w3-theme"  style="text-align: center;">
        <h1>Clerk-free order</h1>
    </header>

    <div class="w3-container" style="text-align: center;">
        <img src="images/clerk.png" class="w3-circle" alt="Norway" style="width:100%;">
    </div>

    <button class="w3-button w3-black w3-border" onClick="location.href='manager_menu'" style="width:100%;">START</button>


</body>

</html>