<!DOCTYPE html>
<!--참고: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_pizza-->
<html>
  <head>
  <meta charset="EUC-KR" />
  <title>OrderTemplate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
    rel="stylesheet"
  />
  <style>
    img{width:30px;}
   
   body,  
    html {
      height: 100%;
    }
  
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: Arial, Helvetica, sans-serif;
      color : black;
    }
    .menu {
      display: none;
      background-color: #e4f3f8;
    }
    #pButton {
      margin-left: auto;
      margin-right: auto;
    }
    #menubox{
      background-color :white;
    }
  #titlebox{
     background-image: url("bolt.jpg");
      min-height: 100%;
      background-position: center;
      background-size: cover;
    }
    #textstuff{
     color: black;
    }
    #textstuff2{
     color: white;
    }
     #about{
     width: 50%;
    }
     #index{
     margin-top: 10%;
     margin-left: 80%;
     font-size :small;
     color:white;
    }

    .button {
  border-radius: 4px;
  background-color:  #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top:20px;
  margin-left: 24%;
 
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


#wid{width:30%;}

  </style>
</head>

<body>
    
<div class="w3-display-topleft">
  <button onClick="location.href='/Main'">홈으로</button>
</div>


<form action="/purchase" method="get">

    <!-- Menu Container -->
    <div class="w3-container w3-padding-64 w3-xxlarge" id = "titlebox">
      <div class="w3-content" >
        <h1 class="w3-center" style="margin-bottom: 64px" >Menu</h1>
        <div id ="index">개수 입력</div>
        
          <% for (var i = 0; i < length; i++) { %>
            <div class="w3-card" id="menubox">
         <h2>
            <b><%= name[i] %></b><br><br>
            <span class="w3-left w3-tag w3-dark-grey w3-round">
              <%= price[i] %>₩</span></h2>

            
            <input class ="w3-small w3-right" id ="wid" type = "text", name = "index", value = "0"/>
           
            <br>
         
          </div>
          <% } %>
     
      </div>
      <button class="button" type="submit"><span>Proceed </span></button>
      </form>
    </div>
    

    <!-- About Container -->
   

   
  </body>
</html>
