<!DOCTYPE html>
<html>
<title>review_confirm</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<style>
    #noti-post{
        float:right;
    }
</style>
<body style="max-width:400px;margin:16px;border:1px solid #ccc">

    <header class="w3-container w3-card-4 w3-theme">
        <h1>공지사항 작성</h1>
    </header>
    <form action = "/post_noti" method = "post">
        <input class="w3-input" type="text" name = "title" placeholder="Title">
        <br>
        <textarea class="w3-input" placeholder="Content" name = "content" rows = "10"></textarea>
        <br>
        <input type="submit" class="w3-button w3-black w3-border" id = "noti-post" value = "POST">
    </form>

    <button class="w3-button w3-black w3-border" onClick="location.href='notification'">BACK</button>
</body>

</html>