<!DOCTYPE html>
<html>
<title>manager_menu</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">

<body style="max-width:400px;margin:16px;border:1px solid #ccc">

    <header class="w3-container w3-card-4 w3-theme">
        <h1>Manager</br>홍길동</h1>
    </header>

    <div class="w3-panel">
        <div class="w3-row">
            <div class="w3-col s3">
                <img src="images/data.png" style="width:100%">
            </div>
            <div class="w3-col s9 w3-container">
                <h3><a a href="sale" style="text-decoration:none;">매출량</a></h3>
            </div>
        </div>
        <hr>
        
        <div class="w3-row">
            <div class="w3-col s3">
                <img src="images/edit.png" style="width:100%">
            </div>
            <div class="w3-col s9 w3-container">
                <h3><a a href="edit_menu" style="text-decoration:none">메뉴 편집</a></h3>
 
            </div>
        </div>
        <hr>

        <div class="w3-row">
            <div class="w3-col s3">
                <img src="images/edit.png" style="width:100%">
            </div>
            <div class="w3-col s9 w3-container">
                <h3><a a href="notification" style="text-decoration:none">공지 사항</a></h3>
 
            </div>
        </div>
        <hr>

        <div class="w3-row">
            <div class="w3-col s3">
                <img src="images/review.png" style="width:100%">
            </div>
            <div class="w3-col s9 w3-container">
                <h3><a a href="review_confirm" style="text-decoration:none">리뷰 확인</a></h3>
              
            </div>
        </div>
        <!--
         <div class="w3-row">
            <div class="w3-col s3">
                <img src="images/logout.png" style="width:100%">
            </div>
            <div class="w3-col s9 w3-container">
                <h3><a a href="16" style="text-decoration:none">로그 아웃</a></h3>                
            </div>
        </div>-->
    </div>
</body>

</html>