<html>
    <head>
        <meta charset = "utf-8">
        <title>OrderHistory</title>
        <style>
            #OrderHistory-title1{
                border:1px solid;
                float:left;
                margin-left:10px;
                margin-right:50px;
            }
            #OrderHistory-title2{
                border:1px solid;
                width : 200px;
                float:left;
                text-align:center;
                background-color: aquamarine;
            }
            #OrderHistory-history{
                border:20px solid rgb(200, 200, 200);
                padding-left:20px;
                padding-right:20px;
            }
            #review1{
                margin-top:10px;
            }
            #first{
                margin-bottom:10px;
            }
            #history-date1{
                float:left;
            }
            #history-review1{
                float:right;
            }
            #second{
                margin-bottom:10px;
            }
        </style>
    </head>
    <body>
        <div id = "ManagerMenu-title" style = "height:150px; background-color:rgb(175, 248, 238)">
            <div id = "OrderHistory-title1"><button onClick="location.href='Main'">프로필사진(홈으로)</button> </div>
            <div id = "OrderHistory-title2">welcome!<br>User 홍길동</div>
        </div>
        <div id = "OrderHistory-history"><br><br>
            
            <b>Your Past Order</b><br>
            <% var bo = 'false'; %>
            <!--리뷰데이터 테이블 조회 후 넣는것들-->
            <% for(i = 0; i< length; i++) { %>
                <% if(bo == 'true') {bo = 'false'; continue;}%>
            <div id = "review1">
                <div id = "first">
                    <div id = "history-date1">
                        <%=date%>
                    </div>
                    <div id = "history-review1">
                        <%=content[i] %>
                    </div><br>
                </div>
            
                Total : <%=totalprice[i] %> won
            </div><br>
            <% } %>

        <br><br></div>
    </body>
    </body>
</html>