<!DOCTYPE html>
<html>
    <head>
        <title>WriteReview</title>
        <style>
             #WriteReview-title{
                text-align: center;
            }
             #WriteReview-title1{
                border:1px solid;
                float:left;
                margin-left:10px;
                margin-right:50px;
            }
            #WriteReview-title2{
                border:1px solid;
                width : 200px;
                float:left;
                text-align:center;
                background-color: aquamarine;
            }
            #upload-picture-content{
                background-color: rgb(200, 200, 200);
                height:300px;
            }
            #WriteReview-write{
                border:20px solid rgb(200, 200, 200);
                padding-left:20px;
                padding-right:20px;
            }
            #delete-picture-button{
                float:right;
            }
            #review-textarea{
                width:100%;
            }
            #review-submit-button{
                float:right;
            }
        </style>
    </head>
    <body>
        <div id = "WriteReview-title" style = "height:150px; background-color:rgb(175, 248, 238)">
            <div id = "WriteReview-title1"><button onClick="location.href='Main.html'">프로필사진(홈으로)</button> </div>
            <div id = "WriteReview-title2">welcome!<br>User 홍길동</div>
        </div>
        <div id = "WriteReview-write"><br><br>
            <img src="profile.png" alt="">
            <div id ="upload-picture-content"></div><br>
            <button id = "attach-button">첨부</button>
            <button id = "delete-picture-button">사진삭제</button><br><br>
            <b>Rating:</b> <input type = "text">
            <textarea id = "review-textarea" rows="5"></textarea><br>
            <button id = "review-submit-button">submit</button>
        <br><br></div>
    </body>
</html>