<html>
    <head>
        <meta charset="utf-8">
        <title>글쓰기</title>
    </head>
    <body>
        <div id="user_container">
            <label>Welcome! User: <%= user %> </label>
        </div>
       
        <div id="menu_container">
            <h1 id = "menu_banner">User Menu</h1>

            
            <div id = "review">
                <form action="/review" method="get">
                    <button id="review_button" type="submit">Wrtie Review</button>
                </form>
            </div>
            

           
            <div id = "order">
                <form action="/order" method="get">
                    <button id="order_button" type="submit">Order</button>
                </form>
            </div>
          


            
            <div id = "history">
                <form action="/history" method="get">
                    <button id="history_button" type="submit">history</button>
                </form>
            </div>     
           
        </div>

    </body>
</html>