
<html lnag="ko">
    <head>
        <meta charset="UTF-8">
        <title>회원가입</title>
        <link rel="stylesheet" href="new_main.css">
        
    </head>
    <body>
        <!-- header -->
        <div id="header"></div>
        <!-- wrapper -->
        <div id="wrapper">

            <!-- content-->
            <div id="content">
                <form action="/duplicateFunc" method="get">
                    <div id="id_container">
                        <h3 class="join_title">
                            <label for="id">아이디</label>
                        </h3>
                        <span id="box int_id">

                                <input type="text" name="id" class="int" maxlength="20">
                          
                        </span>
                        <span class="error_next_box"></span>
                    </div>
    
                    <!-- PW1 -->
                    <div id="password_container">
                        <h3 class="join_title"><label for="pswd1">비밀번호</label></h3>
                        <span class="box int_pass">
                            <input type="text" name="pswd1" class="int" maxlength="20">
                            <!-- <span id="alertTxt">사용불가</span>
                            <img src="m_icon_pass.png" id="pswd1_img1" class="pswdImg"> -->
                        </span>
                        <span class="error_next_box"></span>
                    </div>
    
              
                    <!-- NAME -->
                    <div id="name_container">
                        <h3 class="join_title"><label for="name">이름</label></h3>
                        <span id="box int_name">
                            <input type="text" name="name" class="int" maxlength="20">
                        </span>
                        <span class="error_next_box"></span>
                    </div>
    
                    <!-- BIRTH -->
                   
    
    
                    <!-- JOIN BTN-->
                    
                    <div id="btn_area">
                        <button type="submit" value="가입하기" id="id_check">가입하기</button>
                        <label> <%=duplicateMsg%></label>
                    </div>
    
                
                
                </form>
                <!-- ID -->
               
                
                
                

            </div> 
            <!-- content-->

        </div> 
        <!-- wrapper -->
    
    </body>
</html>